{{template "base" . }}

{{define "title"}}Home{{end}}

{{define "main"}}
    <h2>Latest snippet</h2>
    {{if .Snippets}}
        <table>
            <tr>
                <th>Title</th>
                <th>Created</th>
                <th>ID</th>
            </tr>
            {{range .Snippets}}
                <tr>
                    <td><a href="/showsnippet?id={{.Id}}">{{.Title}}</a></td>
                    <td>{{humanDate .Created}}</td>
                    <td>#{{.Id}}</td>
                </tr>
            {{end}}
        </table>
    {{else}}
        <p>There is no snippet yet!</p>
    {{end}}
{{end}}